<!DOCTYPE html>
<html>
<head>
    <title>Topic Post template - A responsive layout tutorial</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/extras.css" rel="stylesheet">
</head>
<body>
<div class='container'>

    <div class="page-header">
        <h3 class="text-info"><em>Geek Score&#46;net&#32;&#62;<span class="blink">&#95;</span></em></h3>
        <ul>
            <li style="display: inline-block;margin: 0 5px;"><a href="#">Scala</a></li>
            <li style="display: inline-block;margin: 0 5px;"><a href="#">Java</a></li>
            <li style="display: inline-block;margin: 0 5px;"><a href="#">Python</a></li>
            <li style="display: inline-block;margin: 0 5px;"><a href="#">Misc</a></li>
        </ul>
    </div>




    <div id='content' class='row-fluid'>

        <div class='span9 main'>

            <h4>Topic Heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<p>

            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<p>

            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>

        </div>
        

        <div class='span3 sidebar'>

            <ul class="nav nav-list">
                <li>
                    <a href="http://www.linkedin.com/in/ravirajmulasa" target="_blank">
                        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View RaviRaj Mulasa's profile on LinkedIn">
                    </a>
                </li>


                <li class="divider"></li>
                <li class="nav-header">Menu</li>
                <li><a href="#">Functional Programming</a></li>
                <li><a href="#">Linear Algebra</a></li>
                <li><a href="#">Design Patterns</a></li>
                <li><a href="#">Natural Language Processing</a></li>
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Object Oriented Programming</a></li>


                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                
                <li>
                    <a href="https://github.com/raviraj-mulasa" target="_blank">
                        <img src="../img/Github-Mark-32px.png" border="0" alt="View RaviRaj Mulasa's profile on Github">
                        Follow on Github
                    </a>
                </li>

            </ul>
        </div>
    </div>

</div>
</body>
</html>